/* BASIC STYLES HERE */
/* SECTION GENERAL/SHARED CSS */

.blueBlur {
  background-color: #123456b0;
  color: whitesmoke;
  border-radius: .25rem;
  /* width: fit-content; */
}

.refresh {
  position: relative;
  top: -15px;
  left: -20px;
  text-shadow: 0 0 5px black;
}

hr,
i {
  color: orange;
  text-shadow: 0 0 5px black;
}

/* !SECTION */
/* ---------------------------------------- */
/* SECTION BG IMG CSS */
body {
  background-color: #123456b0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.BGImgCredit {
  cursor: help;
  height: fit-content;
  width: 250px;
  filter: blur(1px);
  opacity: .25;
  transition: ease-in-out .25s;
}

.BGImgCredit:hover {
  filter: blur(0);
  opacity: 1;
  /*  */
}

.BGImgCredit p {
  font-size: .75rem;
  margin: 0;
}


/* !SECTION */
/* ---------------------------------------- */
/* SECTION USER BAR */
.userBar {
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  width: 86dvh;
  height: fit-content;
  color: whitesmoke;
  background-color: #123456b0;
}

.userBar i {
  opacity: .5;
  transition: ease-in-out .25s;
}

.userBar i:hover {
  opacity: .86;
}

/* !SECTION */
/* ---------------------------------------- */
/* SECTION CLOCK */

.clock {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 2.5rem;
  line-height: 2.5rem; */
}

/* !SECTION */
/* ---------------------------------------- */
/* SECTION WEATHER */

.weather {
  font-family: 'Courier New', Courier, monospace;
  background-color: #123456b0;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;
}

.weatherIcon {
  height: 86px;
  width: 86px;
}

.weatherDetails p {
  margin-bottom: 0;
}

.bar {
  border-left: 1px dashed grey;
}

.temp {
  cursor: help;
}

#temp:hover+#tempDetails {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
  border-radius: 1rem;
}

.tempSmall {
  font-size: 1rem;
  line-height: .5rem;
}

.tempBig {
  margin-top: -1rem;
  font-size: 3.2rem;
  line-height: 3.2rem;
  /*  */
}

.tempSplit {
  line-height: 3rem;
}

/* !SECTION */
/* ---------------------------------------- */

/* SECTION QUOTE */

#quote {
  text-align: center;
  align-self: center;
}

.quoteContent {
  cursor: help;
  font-size: large;
  max-width: 69%;
  width: fit-content;
  border-radius: 2rem;
}

.quoteInfo {
  font-size: small;
  width: fit-content;
  border-radius: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out .25s;
}

.quoteContent:hover+.quoteInfo {
  opacity: 1;
  visibility: visible;
}


/* !SECTION */
/* ---------------------------------------- */
/* SECTION TODO TASK LIST */

form i {
  color: orange;
  text-shadow: 0 0 5px black;
}

.card {
  background-color: #123456b0;
  color: whitesmoke;
  width: 30dvh;
}

.listItem {
  /* background-color: #123456b0; */
  border-radius: .25rem;
  /*  */
}

.offlineOutline {
  border: 1px dashed red;
  opacity: .5;
}

/* !SECTION */